* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #131313;  
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
  border-bottom: 1px solid white;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
  animation: fadeIn 1.2s ease-in-out;
  color: white; 
}

.logo-img {
  height: 80px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

nav ul li:nth-child(1) { animation-delay: 0.3s; }
nav ul li:nth-child(2) { animation-delay: 0.4s; }
nav ul li:nth-child(3) { animation-delay: 0.5s; }
nav ul li:nth-child(4) { animation-delay: 0.6s; }

nav ul li a {
  text-decoration: none;
  color: white;
}

.active {
  color: rgb(120, 0, 189);
}

main {
  padding: 50px 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.4s, transform 0.5s ease 0.4s;
  animation: fadeIn 1.8s ease-in-out;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.welcome {
  text-align: center;  
  padding: 50px 20px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;  
  position: relative;
}

.welcome h1 {
  font-size: 3rem;  
  font-weight: bold; 
  margin-bottom: 20px;
  color: rgb(120, 0, 189);  
}


.welcome p {
  font-size: 1.1rem;  
  line-height: 1.6;
  margin: 0px 50px;
  color: #fff;  
}

.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('image/homepage.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.3;  
  z-index: -1;  
}

.about {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.about h1, h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about .name {
  color: rgb(120, 0, 189);
}

.about p {
  font-size: 1rem; 
  line-height: 1.5;
  color: #555;
  text-align: justify;
}

.about-text {
  width: 60%; 
  text-align: left; 
}

.about-img {
  width: 200px;  
  height: 250px; 
  margin-left: 20px; 
  transition: transform 0.3s ease-in-out; 
}

.about-img:hover {
  transform: scale(1.1); 
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  box-shadow: 0 4px 10px  rgb(120, 0, 189);  
  border-radius: 10px;
}

.contact-btn {
  padding: 10px 20px;              
  background-color: white ;       
  color: black;                  
  border: none;                     
  border-radius: 15px;              
  cursor: pointer;                  
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-size: 16px;   
  position: relative;
  top: 50px; 
  margin-top: 0;                 
}

.contact-btn:hover {
  background-color:  rgb(120, 0, 189);       
  transform: scale(1.1);           
}
.portfolio {
  padding: 20px 20px;
}
.portfolio-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 250px;
  background: #131313;
  border-radius: 8px;
  box-shadow: 0 4px 10px  rgb(120, 0, 189);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.portfolio-item:hover {
  transform: scale(1.05);
}
.portfolio-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
figcaption {
  padding: 10px;
  font-weight: bold;
  background-color: #131313;
}
figcaption p {
  font-weight: normal;
  font-size: 0.9em;
  color: #f0f0f0;
  margin-top: 5px;
}
h1 {
  margin-bottom: 30px;
  color: rgb(120, 0, 189);
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 15px; 
  padding: 30px;
  width: 50%; 
  margin: 0 auto; 
  box-sizing: border-box; 
  box-shadow: 0 4px 10px  rgb(120, 0, 189);
}

section#contact h1 {
  text-align: center;
  color: rgb(120, 0, 189);
} 

section#contact p {
  text-align: left;
}

form label, form p {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

input[type="submit"] {
  display: block;
  width: 200px; 
  margin: 20px auto; 
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit {
  padding: 10px 20px;             
  background-color: white ;        
  color: black;                   
  border: none;                     
  border-radius: 15px;             
  cursor: pointer;                   
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-size: 16px;   
  position: relative;
  top: 50px; 
  margin-top: 0;                 
}

.submit-btn:hover {
  background-color:  rgb(120, 0, 189);        
  transform: scale(1.1);           
}

input[type="submit"]:hover {
  background-color:  rgb(120, 0, 189);
}

input[type="text"], input[type="email"], input[type="number"], textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

footer {
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-top: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.6s, transform 0.5s ease 0.6s;
  animation: fadeIn 2s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2) rotate(10deg);
}

.copyright {
  font-size: 12px; 
  color: #a0a0a0;
  text-align: center;
  margin-top: 10px;  
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
